.icons-bu {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height:60px;width:60px;
    display: inline-block;

    &.size-30 {height:30px;width:30px;}
    &.size-40 {height:40px;width:40px;}
    &.size-50 {height:50px;width:50px;}
    &.size-60 {height:60px;width:60px;}
    &.size-70 {height:70px;width:70px;}
    &.size-80 {height:80px;width:80px;}
    &.size-90 {height:90px;width:90px;}
    &.size-100 {height:100px;width:100px;}
    &.size-110 {height:110px;width:110px;}
    &.size-120 {height:120px;width:120px;}
    &.size-130 {height:130px;width:130px;}
    &.size-140 {height:140px;width:140px;}
    &.size-150 {height:150px;width:150px;}

    &.icon-center {margin:inherit auto;}

    &.icon-alternative_medicine {
        background: url(../..//images/branding/icons/alternative_medicine.svg);
    }
    &.icon-bank_insurance {
        background: url(../..//images/branding/icons/bank_insurance.svg);
    }
    &.icon-belling {
        background: url(../..//images/branding/icons/belling.svg);
    }
    &.icon-borrows_digital {
        background: url(../..//images/branding/icons/borrows_digital.svg);
    }
    &.icon-calendar {
        background: url(../..//images/branding/icons/calendar.svg);
    }
    &.icon-clock {
        background: url(../..//images/branding/icons/clock.svg);
    }
    &.icon-cloud_security {
        background: url(../..//images/branding/icons/cloud_security.svg);
    }
    &.icon-contact {
        background: url(../..//images/branding/icons/contact.svg);
    }
    &.icon-cost_reduction {
        background: url(../..//images/branding/icons/cost_reduction.svg);
    }
    &.icon-data_security {
        background: url(../..//images/branding/icons/data_security.svg);
    }
    &.icon-data {
        background: url(../..//images/branding/icons/data.svg);
    }
    &.icon-digital_data {
        background: url(../..//images/branding/icons/digital_data.svg);
    }
    &.icon-download {
        background: url(../..//images/branding/icons/download.svg);
    }
    &.icon-eye {
        background: url(../..//images/branding/icons/eye.svg);
    }
    &.icon-file_certification {
        background: url(../..//images/branding/icons/file_certification.svg);
    }
    &.icon-file {
        background: url(../..//images/branding/icons/file.svg);
    }
    &.icon-folder_security { 
        background: url(../..//images/branding/icons/folder_security.svg);
    }
    &.icon-health {
        background: url(../..//images/branding/icons/health.svg);
    }
    &.icon-home {
        background: url(../..//images/branding/icons/home.svg);
    } 
    &.icon-legal {
        background: url(../..//images/branding/icons/legal.svg);
    }
    &.icon-link {
        background: url(../..//images/branding/icons/link.svg);
    }
    &.icon-map_cursor {
        background: url(../..//images/branding/icons/map_cursor.svg);
    }
    &.icon-network {
        background: url(../..//images/branding/icons/network.svg);
    }
    &.icon-phone {
        background: url(../..//images/branding/icons/phone.svg);
    }
    &.icon-rack {
        background: url(../..//images/branding/icons/rack.svg);
    }
    &.icon-refund {
        background: url(../..//images/branding/icons/refund.svg);
    }
    &.icon-responsive {
        background: url(../..//images/branding/icons/responsive.svg);
    }
    &.icon-search {
        background: url(../..//images/branding/icons/search.svg);
    }
    &.icon-security {
        background: url(../..//images/branding/icons/security.svg);
    }
    &.icon-signature_security {
        background: url(../..//images/branding/icons/signature_security.svg);
    }
    &.icon-user_identity {
        background: url(../..//images/branding/icons/user_identity.svg);
    }
    &.icon-user_insurance {
        background: url(../..//images/branding/icons/user_insurance.svg);
    }
    &.icon-user_pro {
        background: url(../..//images/branding/icons/user_pro.svg);
    }
    &.icon-user_security {
        background: url(../..//images/branding/icons/user_security.svg);
    }
    &.icon-user {
        background: url(../..//images/branding/icons/users_group.svg);
    }
    &.icon-users_group {
        background: url(../..//images/branding/icons/users_group.svg);
    }
    &.icon-users_insurance {
        background: url(../..//images/branding/icons/users_insurance.svg);
    }
    &.icon-users_security {
        background: url(../..//images/branding/icons/users_security.svg);
    }
    &.icon-video {
        background: url(../..//images/branding/icons/video.svg);
    }
} 
