.spinkit,
.spinkit-default,
.spinkit-medium {
	width: 45px;
	height:45px;
	position: relative;
}

.spinkit-small {
	width: 20px;
	height:20px;
}

.spinkit-large {
	width: 80px;
	height:80px;
}

.double-bounce1, 
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%; 
	background: $default-200;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinkit-secondary {
	.double-bounce1, 
	.double-bounce2 {
		background: $secondary-200;
	}
}

.spinkit-primary {
	.double-bounce1, 
	.double-bounce2 {
		background: $primary-200;
	}
}

.spinkit-white { 
	.double-bounce1, 
	.double-bounce2 {
		background: $white;
	}
}

.double-bounce1 {
	-webkit-animation-delay: -2.0s;
	animation-delay: -2.0s;
}
.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 
	50% { 
		transform: scale(1.0); 
		-webkit-transform: scale(1.0);
	}
}