
.nav-tabs {
	border:0;
	.nav-link {
		padding: .5rem 1rem;
		color: $text;
		&.active {
			color:$title;
			border-color: $border $border $white;
		}
	}
	.dropdown.dropdown-menu a, .dropdown .dropdown-menu a {border-left:3px solid transparent;
		&:hover {border-left:3px solid $primary-200;}
	}
	.dropdown-divider {margin: 0;}
	.dropdown-item {
		padding: 10px 1.5rem
	}
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {border:0;}
.nav-tabs .nav-link:focus {outline:3px solid $border;} 
.nav-tabs .nav-link:hover {background: $default-300;}
.nav-tabs .nav-link.active:hover {background: $white;}
.nav-tabs .nav-item {margin: 0;}

/*-- tab header page -- */
.tab {margin: 0 4px 0 0; max-width: 200px;float: left;background: rgba($secondary-200, 0.1);
	&.tab-right {float:right;
		button {padding:0 15px !important;}
	}
	&.actif {background: $white;}
	button {margin:0 !important; border-radius: 0;padding: 0 25px 0 0 !important;
		&:hover {background: $white;}
	}
}


/* -- Tab Vertical -- */
.details {overflow: scroll;max-height:400px; 
	li {padding: 0 !important;
		a {color:$text;border-left:3px solid transparent;display: block;padding:8px 20px;
			&:hover {text-decoration: none;color:$title;background: $background;}
			&.active {border-left:3px solid $primary-200;background: $background;color:$title;}
		}
	}
}

