.close {
    font-size: 2.5rem !important;
}

.alert button.close {
    font-size: 20px !important;
}

.unstyled::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

.ng-select .ng-select-container {
  position: unset;
  border-radius: 0 !important;
  border: 1px solid #e4eaec;
}

 .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: 0 0 0 transparent !important;
  border: 1px solid #e4eaec;
  border-bottom: 1px solid #ccb581;
}

 .ng-select .ng-arrow-wrapper .ng-arrow {
  margin-top: -4px;
}

 .icone:before {
  content: "\f127";
  font-family: "icons" !important;
}

 .ng-input input {
  height: unset !important;
  margin: unset !important;
  padding: 5px 0px 0px 0px !important;
}

 .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  border-left: 2px solid #ccb581;
  background-color: unset !important;
}

 .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  border-left: 2px solid #ccb581;
  background-color: unset !important;
}

 .ng-select .ng-select-container .ng-value-container .ng-value {
  background-color: none;
  border: none;
  font-size: 13px;
}

 .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  top: 9px !important;
}

 .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked .ng-option-label {
  color: #000305 !important;
}

 .icone:before {
  content: "\f127";
  font-family: "icons" !important;
}

 .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: unset !important;
  font-size: 11px;
}

 .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label {
  font-weight: unset;
  font-size: 11px !important;
}

 .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-label {
  font-weight: unset;
  font-size: 11px !important;
}

 .ng-select .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: 2px solid;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 15px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
:host ::ng-deep input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
