<div class="modal-header mt-3">
    <h2 *ngIf="!update" class="h3 modal-title text-center font-size-24 bold" style="width: 100%;">Ajouter une salle
    </h2>
    <h2 *ngIf="update" class="h3 modal-title text-center font-size-24 bold" style="width: 100%;">Modifier une salle
    </h2>
    <span class="close" aria-label="Close" data-dismiss="modal" (click)="closeModal()" style="cursor: pointer;">
        <span aria-hidden="true">&times;</span>
    </span>
</div>

<form [formGroup]="form">
    <div *ngIf="showLoaderError" class="alert alert-error alert-icon alert-dismissible width-450" role="alert"
        style="margin-left: auto; margin-right: auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="icons icon-alert color-white" aria-hidden="true"></i>
        {{saveError}}
    </div>
    <div *ngIf="showLoaderSuccess" class="alert alert-valid alert-icon alert-dismissible width-450" role="alert"
        style="margin-left: auto; margin-right: auto;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="icons icon-arrow_circle_down color-white" aria-hidden="true"></i>
        {{saveSuccess}}
    </div>

    <div class="modal-body pb-0">
        <div class="row pt-1">
            <div class="col-12 px-0">

                <div class="row" style="padding-right: 5%;">
                    <div class="col-2 py-2 px-0">
                        <label class="float-right">Salle : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-4 pr-0">
                        <input type="text" formControlName="classRoomId">
                    </div>
                    <div class="col-2 py-2">
                        <label class="float-right">Capacité : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-4 pl-0">
                        <input type="number" formControlName="capacity">
                    </div>
                </div>

                <div class="row" style="padding-right: 5%;">
                    <div class="col-2 py-2 px-0">
                        <label class="float-right">Site : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-4 pr-0">
                        <ng-select [items]="sites$" formControlName="pole" (change)="onChangeSite($event)"></ng-select>
                    </div>
                    <div class="col-2 py-2">
                        <label class="float-right">Bloc : <span class="color-error">*</span></label>
                    </div>
                    <div class="col-4 pl-0">
                        <ng-select [items]="blocs$" [searchable]="true" formControlName="bloc" bindValue="blocId"
                            [readonly]="disabledBloc"></ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="reset()">Annuler</button>
        <button type="button" class="btn btn-bg-primary" (click)="save()" [disabled]="!form.valid">Confirmer</button>
    </div>
</form>