:host ::ng-deep .navbar .dropdown .show a {
     background: transparent; 
     border-bottom: none; 
 }
 
 .notif {
     position: relative;
     display: block;
 }
 
 :host ::ng-deep .badge {
     font-size: 45%;
 }
 
 :host ::ng-deep .badge-up {
     top: -13px;
     margin: 0px -0.2em 0px -13px;
 }